{<include file="~header"/>}
<meta name="keywords" content="{$var[page_keywords]}" />
<meta name="description" content="{$var[page_description]}" />
<title>{$page_title}</title>
</head>
<body>
{<include file="~nav_main"/>}
<div class="bs-docs-header" style="height: 250px;" id="content" tabindex="-1">
    <div class="container">
        <h1>{$page_title}</h1>
        <p>{$error_tip}</p>
    </div>
</div>
<div class="container">
    <label>404错误！</label>
    <img class="img-responsive" src="/content/common/img/error404.png">
</div>

{<include file="~footer"/>}
