
<footer class="blog-footer">
    <p>&copy; 2016 <a href="http://www.gioov.com">
        GIOOV.COM</a> Powered by <a href="http://www.gioov.com">GiWebFrame</a>.</p>
    <p>
        <a href="#top">回到顶部！</a>
    </p>
</footer>

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="{$__TPL__}/common/js/jquery-1.9.1.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="{$__TPL__}/common/js/bootstrap.min.js"></script>

<!-- 通用js库-->
<script src="{$__TPL__}/common/js/common.js"></script>
</body>
</html>