<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-language" content="zh-CN">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,Chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"><!--禁止移动设备在浏览器中启用触摸缩放功能-->

    <meta name="author" content="godcheese">
    <meta name="website" content="gioov.com">

    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="/content/common/css/bootstrap.min.css">

    <!-- 可选的Bootstrap主题文件（一般不用引入）
    <link rel="stylesheet" href="/content/common/css/bootstrap-theme.min.css">->

    <!-- 基础样式表 -->
    <link rel="stylesheet" href="/content/common/css/common.css">
    <link rel="stylesheet" href="/content/common/css/banner.css">

